* {
    box-sizing: border-box;
}

h1{
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button, a {
    padding: 1.2rem;
    border: none;
    text-decoration: none;
    background-color: #eee;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    border-radius: 4px;
    border-bottom: #ddd 8px solid;
    transition: ease-out 0.3s;
}

button:active, a:active {
    margin-top: 2px;
    border-bottom: #ddd 4px solid;
}

button:hover, a:hover {
    scale: 1.1;
    transition: ease-in 0.3s;
}

.nav > li:hover {
    scale: 1.1;
    transition: ease-in 0.3s;
}

.nav > li {
    transition: ease-out 0.3s;
}

a {
    color: black;
}

.nav {
    display: flex;
    display: grid;
    justify-content: center;
    place-content: center;
    margin-top: 3rem;   
}